/*html {
  min-width: 100%;
  min-height: 100%;
  background-image: url(http://www.example.com/somelargeimage.jpg);
  background-position: top center;
  background-color: #000;
}
*/
body {
  width: 1080px;
  height: 102710px;
  background-color: #FFF;
}

div{
  font-size: 150px;
      background-color: yellow;
}

#up{
    position: fixed;
    left: 400px;
    top: 0;
    width: 5%;
}

#stop{
    position: fixed;
    left: 500px;
    top: 0;
    width: 5%;
}

#down{
    position: fixed;
    left: 600px;
    top: 0;
    width: 5%;
}

button{
  display: inline;
  color: black;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

img{
  display: block;
}

/* .block {
    position: absolute;
    background-color: #abc;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    margin: 5px;
} */
